body.quick-chat>.chat-view {
  /* TODO: use gradient as background */
  background-color: color-mix(in srgb, #546E7A 95%, transparent);
  padding-top: 2rem;
  width: 100%;
  max-width: unset;
  max-height: unset;
  height: 100%;
  text-shadow: 0 0 1px #0004;
}

body.quick-chat>.chat-view>.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-secondary);
  font-size: 1.5rem;
  height: 2rem;
  width: 61.8%;
  background-color: #37474F;
  box-shadow: 0 0 0.5rem #fff2 inset;
  border: 1px solid #fff4;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  -webkit-app-region: drag;
  user-select: none;
}

body.quick-chat>.chat-view>.handle:hover {
  background-color: #546E7A;
}

body.quick-chat>.chat-view>.handle:active {
  cursor: grabbing;
}

.chat-view {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  max-height: calc(100% - 2rem);
  margin-top: auto;
  box-sizing: border-box;
  max-width: 60rem;
  width: calc(100% - 4rem);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  overflow: hidden;

  position: relative;
}

.chat-view>.handle {
  display: none;
}

.chat-view>.chat-spinner {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.chat-view>.chat-input {
  width: 100%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-sizing: border-box;

  height: 2.5rem;
}

.chat-view>.chat-output {
  overflow-y: auto;
  overflow-x: hidden;

  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0.5rem;
}

.chat-view>.chat-output.empty {
  color: var(--text-color-secondary);
  font-weight: bold;
  align-items: center;
}

.chat-message {
  max-width: 100%;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5rem;
}

.chat-message.user {
  color: var(--text-color-secondary);
  font-weight: 400;
}

.chat-message.ai {
  color: var(--text-color-primary);
  font-weight: 500;
  white-space: pre-wrap;
}