@import './chat-menu.css';

body.quick-chat>.chat-view {
  /* background-color: color-mix(in srgb, #546E7A 95%, transparent); */
  background: linear-gradient(to bottom,
      color-mix(in srgb, #546E7A 95%, transparent) 0%,
      color-mix(in srgb, #455A64 95%, transparent) 20%,
      color-mix(in srgb, #37474F 95%, transparent) 80%,
      color-mix(in srgb, #263238 95%, transparent) 100%);
  padding-top: 2rem;
  width: 100%;
  max-width: unset;
  max-height: unset;
  height: 100%;
  text-shadow: 0 0 1px #0004;
}

body.quick-chat>.chat-view>.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: color-mix(in srgb, var(--text-color-secondary) 25%, transparent);
  font-size: 1.5rem;
  height: 2rem;
  width: 61.8%;
  background-color: #37474F;
  box-shadow: 0 0 0.5rem #fff2 inset;
  border: 1px solid #fff4;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  -webkit-app-region: drag;
  user-select: none;
}

body.quick-chat>.chat-view>.handle:hover {
  background-color: #546E7A;
}

body.quick-chat>.chat-view>.handle:active {
  cursor: grabbing;
}

body.quick-chat>.chat-view>.handle>*:not(.mdi) {
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.chat-view {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  max-height: calc(100% - 2rem);
  margin-top: auto;
  box-sizing: border-box;
  max-width: 60rem;
  width: calc(100% - 4rem);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.chat-view>.handle {
  display: none;
}

.chat-view>.chat-output {
  overflow-y: auto;
  overflow-x: hidden;

  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 0.5rem;
}

.chat-view>.chat-output:empty::before {
  content: 'AI responses will appear here';
  color: var(--text-color-secondary);
  font-weight: bold;
  align-items: center;
}

.chat-message {
  max-width: 100%;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5rem;
}

.chat-message img {
  display: inline;
  margin-inline: 0.25rem;
  vertical-align: middle;
}

.chat-message.user {
  color: var(--text-color-secondary);
  font-weight: 400;
}

.chat-message.ai {
  color: var(--text-color-primary);
  font-weight: 500;
}

.chat-view-input-container {
  display: flex;
  position: relative;
}

.chat-view-input-container>.chat-input {
  width: 100%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-sizing: border-box;
  min-height: 2.5rem;
  height: 100%;
  max-height: 14rem;
  line-height: 1.5rem;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-view-input-container>.chat-input[disabled=true] {
  pointer-events: none;
}

.chat-view-input-container>.chat-input::before {
  /* Can me customized with data attribute */
  content: 'Type your message...';
  color: var(--text-color-secondary);
  font-weight: 400;
  display: block;
  width: 0;
  height: 0;
  word-break: normal;
  white-space: nowrap;
  text-align: left;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.chat-view-input-container>.chat-input:not([disabled=true]):empty::before {
  opacity: 0.5;
}

.chat-view-input-container>.chat-input img {
  display: inline;
  margin-inline: 0.25rem;
  vertical-align: middle;
}

.chat-view-input-container>.chat-spinner,
.chat-view-input-container>.options-menu-button,
.chat-view-input-container>.options {
  position: absolute;
  top: 0.25rem;
  height: 2rem;
}

.chat-view-input-container>.chat-spinner {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}