.info-view {
  padding-block: 1rem;
  row-gap: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.info-view>*:not(hr) {
  padding-inline: 1rem;
}

.info-view>.versions>span {
  text-transform: capitalize;
}