hr {
  @apply border-divider;
}

*[contenteditable="true"] {
  font-family: "Montserrat", sans-serif;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border: 1px solid #fff2;
  border-radius: 2rem;
  background-color: #fff2;
  outline: none;
  color: var(--text-color-primary);

  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

*[contenteditable="true"]:focus {
  border-color: var(--color-active);
  background-color: color-mix(in srgb, var(--color-active) 15%, transparent);
}

*[contenteditable="true"][disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  caret-color: transparent;
}

*[contenteditable="true"]:not(:disabled):not(:focus):hover {
  border-color: #fff6;
}

*[contenteditable="true"]::placeholder {
  color: var(--text-color-secondary);
  opacity: 0.5;
}