*[contenteditable="true"] {
  font-family: "Montserrat", sans-serif;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  box-sizing: border-box;
  border-radius: 2rem;
  outline: none;
  @apply text-foreground-50 border-t-1 border-t-divider bg-foreground-50/5;

  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

*[contenteditable="true"]:focus {
  @apply border-primary-400 bg-primary-400/15;
}

*[contenteditable="true"][disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  caret-color: transparent;
}

*[contenteditable="true"]:not(:disabled):not(:focus):hover {
  border-color: #fff6;
}

*[contenteditable="true"]::placeholder {
  @apply text-foreground-600;
  opacity: 0.5;
}

.fixed-stroke path {
  vector-effect: non-scaling-stroke;
}

button {
  outline: none !important;
}