.values-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  justify-content: center;
}

.values-list>*:nth-child(odd) {
  text-align: right;
}

.values-list>*:nth-child(even) {
  text-align: left;
  font-weight: bold;
}