.notistack-MuiContent {
  border-radius: 1.5rem;
  backdrop-filter: blur(4px);
  border: 1px solid;
}

#notistack-snackbar {
  width: 100%;
}

.notistack-MuiContent-default {
  @apply bg-transparent bg-gradient-to-br from-foreground-500/50 to-foreground-300/40 border-foreground-300 text-foreground-100;
}

.notistack-MuiContent-error {
  @apply bg-transparent bg-gradient-to-br from-red-500/50 to-foreground-300/40 border-red-300 text-red-100;
}

.notistack-MuiContent-warning {
  @apply bg-transparent bg-gradient-to-br from-orange-500/50 to-foreground-300/40 border-orange-300 text-orange-100;
}

.notistack-MuiContent-info {
  @apply bg-transparent bg-gradient-to-br from-cyan-500/50 to-foreground-300/40 border-cyan-300 text-cyan-100;
}

.notistack-MuiContent-success {
  @apply bg-transparent bg-gradient-to-br from-green-500/50 to-foreground-300/40 border-green-300 text-green-100;
}