@tailwind base;
@tailwind components;
@tailwind utilities;

@import './common/animations.css';
@import './common/elements.css';
@import './common/code-blocks.css';
@import './common/lists.css';
@import './common/notifications.css';
@import './views/chat.css';

@font-face {
  font-family: 'AI';
  src: url('./Ai.ttf');
}

html {
  font-size: 16px;
}

.ai-font {
  font-family: 'AI', 'Montserrat', sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}