/*cubic-bezier(.36,.07,.19,.97)
cubic-bezier(.87,-.41,.19,1.44)*/

html, body {
    font-family: Arial, sans-serif;
    background-color: #FF8A65;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    outline: none;
    margin: auto;
    box-sizing: border-box;
}

main {
    /*background-color: #fff2;*/
    width: 256px;
    height: 414px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 256px 158px;/*158 = 414-256*/
    align-items: center;
    justify-items: center;
}

button {
    /*background-color: #FF5722;*/
    background-color: #fff0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    box-shadow: 0 3px 6px #0004;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out,
        box-shadow 0.1s ease-in-out;

    opacity: 0;
    animation: pop-in 0.5s cubic-bezier(.87,-.41,.19,1.44) forwards;
}

button:hover {
    background-color: #fff;
    color: #FF8A65;
    border-color: #FF8A65;
}
button:active {
    box-shadow: 0 0 4px #0004;
}

#okay {
    padding: 20px;
}

#microphone {
    display: block;
    height: 256px;
}
#microphone::after {
    content: "";
    display: block;
    /*width: 192px;*/
    /*height: 192px;*/
    width: 158px;
    height: 158px;

    background: url('./microphone.svg') center no-repeat;
    background-size: contain;

    cursor: pointer;
    transition: opacity 0.9s ease-in-out, transform 0.5s cubic-bezier(.36,.07,.19,.97);
}
#microphone:hover::after {
    transform: scale(1.1);
}
#microphone:not(.active)::after {
    opacity: 0.3;
}

#microphone::before {
    display: block;
    cursor: pointer;
    /*background-color: #fff2;*/
    height: 98px;
    line-height: 98px;
    font-size: 25px;
    /*background-color: red;*/
    opacity: 0;
    transition: opacity 0.7s cubic-bezier(.36,.07,.19,.97);
}

#microphone::before {
    content: "Deactivate";
}
#microphone:not(.active)::before {
    content: "Activate";
}

#microphone:hover::before {
    opacity: 1;
}

.results-container {
    width: 100%;
    height: 158px;
    overflow: hidden;
    /*background-color: #fff2;*/
    font-weight: normal;
    font-size: 12px;
    position: relative;
    /*padding: 5px 0;*/
    /*box-sizing: border-box;*/
}

.results-container .hider {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;

    z-index: 2;
    background: linear-gradient(#ff8a65, transparent);
}

#results-preview {
    position: absolute;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    /*top: 0;*/
    text-align: center;
}

#results-preview > * {/*single message line*/
    animation: fade-in 0.5s ease-in-out, fade-out 1.5s 60s ease-in-out forwards;/*fade out after a minute*/
}

#results-preview > .executed {
    font-weight: bold;
}

#language-selector {
    position: fixed;
    top: 0;
    right: 0;
    user-select: none;
    background-color: #ff8a65;
    box-shadow: 0 1px 4px #0004;

    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 0 1px #0008;
    /*width: 64px;*/
    /*height: 16px;*/
    /*padding: 0 16px;*/
    overflow: hidden;
    /*background-color: #FFAB91;*/
    /*color: #BF360C;*/
    border: 1px solid #FFAB91;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 16px;
    cursor: pointer;
    /*border-bottom-right-radius: 24px;*/

    opacity: 0.5;
    transform-origin: 100% 0;

    transition: height 0.3s cubic-bezier(.36,.07,.19,.97), opacity 0.3s ease-in-out,
        transform 0.3s cubic-bezier(.36,.07,.19,.97);
}

#language-selector:hover, #language-selector.open {
    transform: scale(1.5);
    opacity: 1;
}

#language-selector > * {
    padding: 0 16px;
    background-color: #fff0;
}
#language-selector > *:hover {
    background-color: #FFAB91;
}

/* animations */
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fade-in {
    0%  {opacity: 0}
    100%{opacity: 1}
}
@keyframes fade-out {
    0%  {opacity: 1}
    100%{opacity: 0}
}