.chat-message pre, .chat-message *:not(pre)>code, .chat-message>code {
  margin: 0;
  background-color: color-mix(in srgb, #263238 50%, transparent);
  border-radius: 0.25rem;
  border: 1px solid #263238;
  padding-inline: 0.5rem;
  white-space: pre-wrap;
}

.chat-message *:not(pre)>code, .chat-message>code {
  display: inline;
}

.chat-message pre {
  overflow: auto;
  /* padding-bottom: 0.5rem; */
  padding: 0;
  display: inline-block;
  min-width: 61.8%;
  max-width: 100%;
}

.chat-message pre>.code-block-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #263238;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: color-mix(in srgb, #263238 50%, transparent);
}

.chat-message pre>.code-block-header>.language {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  color: var(--text-color-secondary);
  text-transform: capitalize;
}

.chat-message pre>.code-block-header>.code-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.chat-message pre>.code-block-header>.code-options button {
  padding-block: 0.25rem;
  font-size: 0.85rem;
}

.chat-message pre>code {
  display: block;
  overflow: hidden;
  max-height: 10000px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  overflow-x: auto;
}