hr {
  border-color: #fff2;
  border-bottom: none;
  border-right: none;
}

hr:not(.vertical) {
  width: 100%;
  border-left: none;
}

hr.vertical {
  height: 100%;
  border-top: none;
}

a {
  color: #81D4FA;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #E1F5FE;
}

button {
  color: var(--text-color-primary);
  border: 1px solid #fff0;
  background-color: #fff0;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 0.5rem;
  outline: none;
}

button:not(.clean) {
  border-color: #fff2;
  background-color: #fff2;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

button:not(:disabled):not(.selected):hover {
  background-color: #fff4;
  border-color: #fff4;
}

button:not(:disabled):not(.selected) {
  cursor: pointer;
}

button:not(:disabled).selected {
  background-color: color-mix(in srgb, var(--color-active) 50%, transparent);
  border-color: var(--color-active);
}

button.icon-button {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  aspect-ratio: 1;
  line-height: 1;
  height: 1.5rem;
}

input, textarea, *[contenteditable="true"] {
  font-family: "Montserrat", sans-serif;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border: 1px solid #fff2;
  border-radius: 2rem;
  background-color: #fff2;
  outline: none;
  color: var(--text-color-primary);

  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

input:focus, textarea:focus, *[contenteditable="true"]:focus {
  border-color: var(--color-active);
  background-color: color-mix(in srgb, var(--color-active) 15%, transparent);
}

input:disabled, textarea:disabled, *[contenteditable="true"][disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  caret-color: transparent;
}

input:not(:disabled):not(:focus):hover,
textarea:not(:disabled):not(:focus):hover,
*[contenteditable="true"]:not(:disabled):not(:focus):hover {
  border-color: #fff6;
}

input::placeholder, textarea::placeholder, *[contenteditable="true"]::placeholder {
  color: var(--text-color-secondary);
  opacity: 0.5;
}

.mdi::before {
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}