.chat-output>.options-menu-button, .chat-output>.options {
  position: fixed;
  right: 1rem;
  top: 1rem;
  align-self: flex-end;
  height: 2rem;
  z-index: 10;
  backdrop-filter: blur(6px);
}

.chat-output>.options-menu-button {
  font-size: 1.5rem;
}

.chat-output>.options {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  @apply bg-primary-200/25 border-1 border-primary-200 text-primary-100 rounded-full;
  padding-left: 1rem;
  padding-right: 0.5rem;
  box-shadow: 0 0 0.5rem #0002 inset;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  text-shadow: 0 0 1px #0004;
  white-space: nowrap;
}

.chat-output>.options.active {
  opacity: 1;
  pointer-events: all;
}