@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --transition-duration-view: 600ms;
  --animation-duration-view: 600ms;

  --width-golden-reverse: 61.8%;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-gradient-primary: var(--gradient-primary);
  --color-gradient-secondary: var(--gradient-secondary);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --gradient-primary: oklch(0.88 0.23444 151.1848);
  --gradient-secondary: oklch(0.65 0.2601 2.78);
}

.dark {
  --background: oklch(0.1 0.1 200);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.88 0.23444 151.1848);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.785 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  @font-face {
    font-family: "Inter Variable";
    font-weight: 100 900;
    font-display: auto;
    font-style: normal;
    src: url("/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter Variable";
    font-weight: 100 900;
    font-display: auto;
    font-style: italic;
    src: url("/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  }

  @font-face {
    font-family: 'AI';
    src: url('./style/Ai.ttf') format('truetype');
  }

  :root {
    font-family:
      "Inter Variable", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  html {
    background-color: transparent;
    height: 100%;
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground h-full has-[[data-slot="quick-chat-view"]]:bg-transparent;
  }

  #root {
    @apply has-[[data-slot="quick-chat-view"]]:h-full;
  }

  [data-slot="button"] {
    @apply not-disabled:cursor-pointer;
  }

  [data-slot="background-container"] {
    @apply fixed top-0 left-0 w-full h-full -z-1;
  }

  [data-slot="scroll-area-thumb"] {
    @apply hover:bg-primary/50! active:bg-primary!;
  }

  [data-slot="textarea"] {
    @apply focus-visible:ring-0! not-disabled:focus-visible:border-primary! not-disabled:hover:border-primary/50! transition-colors!;
  }
  [data-slot="input"] {
    @apply focus-visible:ring-0! not-disabled:focus-visible:border-primary! not-disabled:hover:border-primary/50! transition-colors!;
  }

  [data-slot="label"] {
    @apply 
      has-[+input]:leading-loose! has-[+input:disabled]:opacity-50 has-[+input:not(:disabled)]:cursor-pointer
      has-[+button[role='combobox']]:leading-loose! has-[+button[role='combobox']:disabled]:opacity-50
      [button[role="checkbox"]+&]:inline! [button[role="checkbox"]+&]:align-text-top [button[role="checkbox"]+&]:ml-2 [button[role="checkbox"]:not(:disabled)+&]:cursor-pointer;
  }

  .ai-font {
    font-family: 'AI', 'Montserrat', sans-serif;
  }

  .reset-tw>*:not(pre):not(code):not(hr):not(.image-generation-container) {
    all: revert !important;
  }
}

@utility bg-glass {
  @apply bg-background/50 backdrop-blur-xs;
}

@utility fixed-stroke {
  &:is(path), path {
    vector-effect: non-scaling-stroke;
  }
}

@utility values-list {
  @apply grid grid-cols-2 gap-x-2 gap-y-1 justify-center;

  &>*:nth-child(odd) {
    text-align: right;
  }

  &>*:nth-child(even) {
    text-align: left;
    font-weight: bold;
  }
}