:root {
  --background-main: #000712;
  --color-active: #3EFF9F;
  --text-color-primary: #ECEFF1;
  --text-color-secondary: #B0BEC5;

  --gradient-color-primary: #00FF80;
  --gradient-color-secondary: #FF007F;
}