@font-face {
  font-family: 'AI';
  src: url('./Ai.ttf');
}

.ai-font {
  font-family: 'AI', 'Montserrat', sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: #000712;
  color: #ECEFF1;

  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

#bg,
#pattern-bg,
#gradient-bg,
#dark-gradient-bg,
#dim-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg {
  background: url('../img/bg1.webp');
  background-size: 100vw 61.64vw;
  background-repeat: no-repeat;
  background-position: center bottom;
  filter: blur(8px);
}

#pattern-bg {
  background: rgb(144, 194, 197);
  background: radial-gradient(circle, rgb(144, 194, 197) 0%, rgba(0, 7, 18, 0) 80%);
  background-clip: text;
  opacity: 0.1;
  color: transparent;

  left: -8rem;
  width: calc(100% + 16rem);
  word-wrap: break-word;
  text-align: center;
  font-size: 32rem;
  letter-spacing: -3rem;
  line-height: 24.5rem;
}

#gradient-bg {
  background: linear-gradient(340deg, #00ff80, #FF007F);
  opacity: 0.25;
}

#dark-gradient-bg {
  background: linear-gradient(to bottom, #000712, #000712b0 20rem, #00071200 36rem, #00071200);
}

#dim-bg {
  background-color: #000712;
}

header.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem;

  text-align: center;
  font-weight: 100;
  font-size: 8rem;
  padding-inline: 1rem;
  padding-block: 2rem;
  width: min-content;

  margin-inline: auto;
}

header.title>* {
  color: #fff8;
  background: linear-gradient(160deg, #00ff80, #FF007F);
  background-clip: text;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
  font-size: 0.75rem;
  gap: 0.5rem;
  opacity: 0.5;
  padding: 0.25rem;
}

footer b {
  font-weight: 400;
}

.separator.vertical {
  width: 1px;
  align-self: stretch;
  background-color: #37474F;
}

main {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-content: center;
  gap: 2rem;
}

.view-item {
  /* aspect-ratio: 1.618; */
  opacity: 0;

  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  row-gap: 0.25rem;
  border: 1px solid #fff2;
  background-color: #fff2;
  box-shadow: 0 2px 4px #0002;
  border-radius: 0.5rem;
  backdrop-filter: blur(8px);

  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.view-item.active {
  /* TODO */
}

.view-item.disabled {
  pointer-events: none;
  opacity: 0;
}

.view-item:not(.active):not(.disabled) {
  cursor: pointer;
}

.view-item:not(.active):not(.disabled):hover {
  border-color: #fff4;
  background-color: #fff4;
  border-radius: 1.5rem;
}

.view-item>* {
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out;
}

.view-item:not(.active):not(.disabled):hover>* {
  transform: scale(1);
}


.view-item .mdi::before {
  font-size: 3rem;
  /* opacity: 0.5; */
}