select {
  color: var(--text-color-primary);
  border: 1px solid #fff2;
  background-color: #fff2;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 0;
  outline: none;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

select:hover {
  background-color: #fff4;
}

option {
  color: var(--text-color-primary);
  background-color: #78909C;
  padding: 0.5rem;
  border: none;
  outline: none;
}